name: PHP Composer
on: [push, pull_request]
jobs:
  build:
    name: Run tests on ${{ matrix.php }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ '8.2', '8.3', '8.4', '8.5' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # Docs: https://github.com/shivammathur/setup-php
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install Composer dependencies
        uses: "ramsey/composer-install@v3"

      - name: Perform static analysis
        run: composer analyze -- --output-format=github
        if: ${{ matrix.php == '8.5' }}

      - name: Run PHPUnit
        run: composer test
